.card {
  position: relative;
  width: 190px;
  font-weight: 600;
  overflow: hidden;
  height: 300px;
  margin: 2%;
  padding: 2%;
  border: 2px solid rgb(27, 132, 251);
  border-radius: 0.5pc;
  background-image: linear-gradient(
    to right top,
    #0c0d0d,
    #001115,
    #00141e,
    #001428,
    #021230
  );
  /* box-shadow: 0.8rem 0.8rem 0.8rem rgba(125, 192, 255, 0.453); */
  box-shadow: rgba(67, 152, 232, 0.47) 0rem 0.8rem 0.8rem   ;
  position: relative;
  transition:  0.3s ease-in-out;
  transition-duration: 0.5s;
  padding: 25px;
  z-index: 1;
}

.UrlContainer{
    border: none;
    margin: 15px;
    padding: 15px;
    background-color: rgb(206, 241, 232);
    border-radius: 0.9pc;
    text-align: center;
    box-shadow: rgba(67, 152, 232, 0.47) 0rem 0.8rem 0.8rem;
    transition: 0.5s ease;
}

.UrlContainer:hover{
  transform: scale(1);
  background:whitesmoke ;
  box-shadow: none,
}

.card:hover {
  transform: scale(1.3);
  z-index: 5;
height: 300px;
  position: absolute;
  overflow: visible;
}

.Image {
  border-radius: 50%;
  background: transparent;
  margin: 15px;
  padding: 5px;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
